.container {
color: white;
 max-width: 100%;
 max-height: 100%;
}
h1 {
  font-size: 3em;
}
form input {
  margin-right: 8px;
}
#outputbox {
  margin-top: 16px;
  margin-left: 4px;
}
#background{
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  
}
#content{
  padding: 16px;
}
body{
  background-color: rgb(4, 75, 99);
  margin: 0;
}